<main class="wrapper">
    <div class="home-banner">
        <div style="margin-left: 15rem;">
            <a href="https://us02web.zoom.us/webinar/register/5916037981654/WN_3ffoqribSR2oomO6_vVU5A" target="_blank">            
                <h4 class="text-white"><img style="margin-right: 5px; margin-bottom: 5px;" alt="Place" width="32" src="assets/image/people.svg"> Register for Leadership in Times of Crisis - Social Impact edition</h4>
            </a>
        </div>        
    </div>
    <div style="background-color: #f4f6f8;">
        <div class="row content-aligned align-spaced align-middle">            
            <div class="col-6 col-sm-12	col-md-6 col-lg-6 col-xl-6">
                <div style="margin-top: 70px;">
                    <h3 style="float: left;"><span><br>
                        <h1 class="h1-custom">Build your team with India’s top talent</h1>
                        <h5 class="h5-custom"><span style="font-weight: 400; color: #001938;">From hiring software to full service recruitment, we can help you find, screen and hire top talent.</span></h5>
                        </span></h3>
                        <div>
                            <a class="txt-white btn-padding bg-indico" style="font-weight: bold;" href="#">TALK TO US</a>
                        </div>
                </div>
                
            </div>
            <div class="col-6 col-sm-12	col-md-6 col-lg-6 col-xl-6">
                <div class="align-middle"> 
                    <img src="assets/image/India-compressed.png">
                </div>
            </div>            
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 style="margin-bottom: 10px;"><span><br>
                    <h2 class="h2-custom" style="text-align: center;"><span style="color: #001938;"><strong>Learn more about our offerings</strong></span></h2>
                    </span></h3>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/people_black.svg" ></div>
                        <div class="box-content">
                            <div class="box-title-wrapper">
                            <h4 style="margin-bottom: 15px;" class="h4-custom">Shortlist Search</h4></div>  
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">Full-service hiring support from mid-level to executive leadership roles</p></div>
                            <div>
                                <a class="txt-white btn-padding bg-indico" style="font-weight: bold; text-transform: uppercase;" href="https://shortlist.net/search-india/">Learn More</a>
                            </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/tablet.svg" ></div>
                        <div class="box-content">
                            <div class="box-title-wrapper">
                            <h4 style="margin-bottom: 15px;" class="h4-custom">Shortlist Connect</h4></div>  
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">Suite of recruitment tools for improved efficiency and better outcomes</p></div>
                            <div>
                                <a class="txt-white btn-padding bg-indico" style="font-weight: bold; text-transform: uppercase;" href="https://shortlist.net/search-india/">Learn More</a>
                            </div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/menu.svg" ></div>
                        <div class="box-content">
                            <div class="box-title-wrapper">
                            <h4 style="margin-bottom: 15px;" class="h4-custom">Talent Pipelining</h4></div>  
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">Customized recruiting solutions to engage and upskill curated pools of professionals</p></div>
                            <div>
                                <a class="txt-white btn-padding bg-indico" style="font-weight: bold; text-transform: uppercase;" href="https://shortlist.net/search-india/">Learn More</a>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 style="margin-bottom: 1px;text-align: center;"><span><br>
                    <h2 class="h2-custom" style="text-align: center;"><span style="color: #001938;"><strong>Great companies build their teams with Shortlist.</strong></span>
                    </h2>
                    <span  class="span-custom" style="color: #001938;">As a recruiting agency, we have partnered with over 500 companies to recruit top talent, including:</span> 
                    </span></h3>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div style="text-align: justify;">
                    <img width="100%" src="assets/image/clients-list.png">
                </div>       
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 style="margin-bottom: 10px;"><span><br>
                    <h2 class="h2-custom" style="text-align: center;"><span style="color: #001938;"><strong>How we manage recruiting</strong></span></h2>
                    </span></h3>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned-1 align-spaced align-middle">
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/Asset1.png" ></div>
                        <div class="box-content">                             
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">
                                Find and engage the right talent online</p></div>
                             
                </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/Asset2.png" ></div>
                        <div class="box-content"> 
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">
                                Screen candidates using interactive online questionnaires and assessments</p></div>
                            
                </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img src="assets/image/Asset3.png" ></div>
                        <div class="box-content"> 
                            <p style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;" class="">
                                Review your India recruiting pipeline on our candidate management portal and make a hire</p></div>
                            
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 style="margin-bottom: 10px;"><span><br>
                    <h2 class="h2-custom" style="text-align: center;"><span style="color: #001938;"><strong>How is Shortlist India different as a recruiting agency?</strong></span></h2>
                    </span></h3>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">                     
                    <div class="box-content">
                        <div class="box-title-wrapper">
                        <h4 style="margin-bottom: 15px;" class="h4-custom">Custom Chatbot:
                            <span style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;"
                            >Automates data collection and determines whether candidates meet recruiting requirements. Competency-based assessments evaluate candidates for the skills you need most.</span>
                        </h4>
                        </div>
                    </div>  
                            
                </div>
            </div>            
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img width="100%" src="assets/image/chatbot.png" ></div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img width="100%" src="assets/image/TG21.png" ></div>
                </div>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">                     
                    <div class="box-content">
                        <div class="box-title-wrapper">
                        <h4 style="margin-bottom: 15px;" class="h4-custom">Dynamic Candidate Profiles::
                            <span style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;">
                                Review detailed assessments of skills and capabilities in our Talent Gallery, not just CVs!</span>
                        </h4>
                        </div>
                    </div>  
                            
                </div>
            </div>            
            
        </div>
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div style="text-align: center; margin-bottom: 20px;">                     
                    <div class="box-content">
                        <div class="box-title-wrapper">
                        <h4 style="margin-bottom: 15px;" class="h4-custom">World-Class Applicant Experience:
                            <span style="font-weight: normal;font-size: 1.5rem; color: #000; line-height: 1.5; padding: 0; margin-bottom: 35px;">Provide candidates a positive recruiting experience that will strengthen your employer brand.</span>
                        </h4>
                        </div>
                    </div>  
                            
                </div>
            </div>            
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div style="text-align: center; margin-bottom: 10px;">
                    <div style="display: inline-block; vertical-align: top; line-height: 1.000em; margin-bottom: 15px;">
                        <img width="100%" src="assets/image/mail.png" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-banner-1">
        <div class="home-banner-p">
            <p>
                Register for Leadership in Times of Crisis - Social Impact edition 
            </p>
            <div style="margin-top: 50px;">
                <a class="txt-white btn-padding bg-indico" style="font-weight: bold;" href="#">TRY SHORTLIST</a>
            </div>
        </div>        
    </div>
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 style="margin-bottom: 10px;"><span><br>
                    <h2 class="h2-custom" style="text-align: center;"><span style="color: #001938;"><strong>
                        Feel the love</strong></span></h2>
                    </span></h3>
            </div>
        </div>
    </div>    
    <div style="background-color: #fff;">
        <div class="row content-aligned align-spaced align-middle">
            <div class="col-8 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <p>
                            Shortlist team was friendly, sharp, helpful, extremely communicative, proactive and professional. They made the hiring process pleasurable and a journey of self-discovery. It is the highest praise possible and Shortlist deserves every bit of it.
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            Shortlist proved to be a godsend when I was trying to break into the impact investing sector. Shortlist looked beyond my resume. Today, a year on out – I’m glad that I’ve got to know a recruitment services provider like Shortlist. I happily recommend them to any organization who wants to improve the recruitment experience for their next candidate(s).
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            Rigorous yet engaging assessment tests, top notch coordination, timely communication and professional executives. Thus, I would characterise my opinion basis my experience with Shortlist.
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            My experience working with recruitment companies in the past and going through the tedious process of hiring the right candidate has been nightmarish on a few occasions. The journey with Shortlist has been a different one.
                            <br>                            
                            They are thoroughly objective and have a great methodology and process of filtering and testing the candidates, which relayed a lot of confidence for us. Their approach is very scientific in a very traditional field. Great people to work with – prompt, simple and professional.
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            Sula Vineyards has now closed four critical positions with the help of Shortlist. I have been constantly impressed by their urgency, attention to detail, willingness to take feedback and easy-to-use platform. I have also been impressed at how much Shortlist works to understand our company culture – Shortlist feels so much like a part of Sula now that we don’t hesitate to celebrate both successes and setbacks together. A refreshing change for HR and people management today to find an agency who goes above and beyond!
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            We would like to thank Shortlist for helping us hire a Product Manager. Our overall experience was great and the team was very responsive from the get-go. Our engagement manager was exceptionally responsive and great to work with. I would recommend other companies to reach out to Shortlist to fulfil their hiring needs.
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            Shortlist team was friendly, sharp, helpful, extremely communicative, proactive and professional. They made the hiring process pleasurable and a journey of self-discovery. It is the highest praise possible and Shortlist deserves every bit of it.
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p>
                            Shortlist proved to be a godsend when I was trying to break into the impact investing sector. Shortlist looked beyond my resume. Today, a year on out – I’m glad that I’ve got to know a recruitment services provider like Shortlist. I happily recommend them to any organization who wants to improve the recruitment experience for their next candidate(s).
                        </p>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</main>